.contact-page {
    display: flex;

}

.formContact {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: fit-content;
    justify-content: center;
    transform: scale(0.8);
    animation: fadeInScale 0.5s forwards;
}

@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.form-group {
    padding: 20px;
}


.forminput {
    width: 100%;
    height: 35px;
    /* padding: 10px; */
    color: black;
    border: 1px solid rgb(175, 175, 175);
    background-color: white;
    border-radius: 5px;
}


.forminput:focus {
    outline: none;

}

.forminput.is-error {
    border: 1px solid #f00;
}

.forminput .is-error:focus {
    outline: none;
}

.btn-group-contact {
    gap: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
}

.btnSubmit {
    background-color: #00ADB5;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forminput-message {
    width: 100%;
    border-radius: 5px;
    resize: none;
    height: 50px;
    /* padding: 10px; */
    outline: none;
    color: black;
    background-color: white;
}

.forminput-massage.is-error {
    border: 1px solid #f00;
}

.form-message {
    font-size: small;
}