.product-detail-container {
    width: 100%;
}

.detail-container {
    width: 100%;
    background-color: rgb(114, 114, 114);
    position: relative;
    z-index: 5;
    justify-content: center;
}

.productsDetail {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background: white;
    margin: 0px auto;
    column-gap: 2rem;
    padding: 2rem 3rem;
    border-radius: 10px;
    width: 800px;
    height: auto;
    transform: translateY(2em);
    border-radius: var(10px);
    box-shadow: rgba(60, 64, 89, 0.15) 0px 4px 16px 0px;
}

.leftInfo {
    grid-column: 1;
    flex: 1;
}

.imageDetail {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.imageDetail:hover {
    cursor: pointer;
}

.detailInfo {
    grid-column: 2;
    padding-bottom: 20px;
}

.productName {
    border-bottom: 1px solid #646464;
    color: #484848;
}

.comment {
    margin-top: 4rem;
    flex-direction: column;
    color: black;
}

.comment-component {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.btn-cmt {
    background-color: #00ADB5;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment ul {
    list-style: none;
    padding: 10px;
}

.commented li {
    border: 1px solid #646464;
    border-radius: 5px;

    padding: 10px;

}

.btnCmt {
    background-color: #505252;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inputCmt {
    padding: 10px;
    width: 100%;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.inputCmt:focus {
    outline: none;
}


@media (max-width: 768px) {
    .productsDetail {
        display: flex;
        flex-direction: column;
    }
}