.container-product {
    min-width: 1440px;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.filter-product {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
}

.side-filter-product {
    padding: 0px 1rem;
    position: sticky;
    top: 1rem;
    height: calc(-1rem + 100vh);
    overflow: hidden auto;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    background: white;
}

.product-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image-product {
    border-radius: 10px;
    width: 100%;
    align-self: center;
    margin-bottom: 15px;
}

.image-product:hover {
    cursor: pointer;
}

.btn-buy {
    background-color: rgb(230, 0, 18);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    align-self: center;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}

.btn-buy:hover {
    background-color: rgb(141, 0, 12);
}

.product-name {
    color: rgb(72, 72, 72);

}

.product-price {
    color: rgb(72, 72, 72);
    font-weight: 700;
}

.products-label {
    color: black;
    margin: 20px;
    text-align: center;
}