.container-product {
    min-width: 1000px;
}

.content-product {
    display: flex;
    /* Use flex to align aside and product list side by side */
}

.aside-product {
    display: flex;
    flex-direction: column;
    position: sticky;
    border-radius: 10px;
    top: 0;
    height: calc(-1rem + 100vh);
    overflow: auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0px 2rem 0px;
}

.aside-product h3 {
    color: #484848;
    border-bottom: 1px solid #eee;
}

.select-category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.products-list {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.filter-product {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
}

.side-filter-product {
    padding: 0px 1rem;
    position: sticky;
    top: 1rem;
    height: calc(-1rem + 100vh);
    overflow: hidden auto;
}

.sidebar {
    flex: 1;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: sticky;
    top: 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    background: white;
}

.product-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image-product {
    border-radius: 10px;
    width: 100%;
    align-self: center;
    margin-bottom: 15px;
}

.image-product:hover {
    cursor: pointer;
}

.btn-buy {
    background-color: rgb(230, 0, 18);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    align-self: center;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}

.btn-buy:hover {
    background-color: rgb(141, 0, 12);
}

.product-name {
    color: rgb(72, 72, 72);
}

.product-price {
    color: rgb(72, 72, 72);
    font-weight: 700;
}

.products-label {
    color: black;
    margin: 20px;
    text-align: center;
}

.pagination-product {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}