
.productsDetail {
    display: grid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    width: 800px;
    height: auto;
}

.leftInfo {
    grid-column: 1;
    flex: 1;
}

.imageDetail {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.imageDetail:hover {
    cursor: pointer;
}

.detailInfo {
    grid-column: 2;
    padding-bottom: 20px;
}

.productName {
    border-bottom: 1px solid #646464;
    color: black;
}

.comment {
    flex-direction: column;
    border-top: 1px solid #646464;
    color: black;
}

.comment-component {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.btn-cmt {
    background-color: #00ADB5;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment ul {
    list-style: none;
    padding: 10px;
}

.commented li {
    border: 1px solid #646464;
    border-radius: 5px;

    padding: 10px;

}

.btnCmt {
    background-color: #505252;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inputCmt {
    padding: 10px;
    width: 100%;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.inputCmt:focus {
    outline: none;
}


@media (max-width: 768px) {
    .productsDetail {
        display: flex;
        flex-direction: column;
    }
}