/* Base styles */
.container-product {
    min-width: 1000px;
}

.content-product {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.aside-product {
    display: flex;
    flex-direction: column;
    position: sticky;
    border-radius: 10px;
    top: 0;
    height: calc(-1rem + 100vh);
    overflow: auto;
    padding: 1rem;
    background-color: #EFEFEF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0px 2rem 0px;
}

.aside-product h3 {
    color: #484848;
    border-bottom: 1px solid #eee;
}

.aside-product-clear-div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.aside-product-clear-btn {
    color: #C8C8C8 !important;
}

.select-category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: #FFFFFF;
}

.no-result-found {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.products-list {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    height: fit-content;
    padding: 2rem;
    align-items: start;
}

.filter-product {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
}

.side-filter-product {
    padding: 0px 1rem;
    position: sticky;
    top: 1rem;
    height: calc(-1rem + 100vh);
    overflow: hidden auto;
}

.sidebar {
    flex: 1;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: sticky;
    top: 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    background: white;
    justify-content: space-between;
    height: 350px;
}

.top-product-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    background: white;
    justify-content: space-between;
    height: 450px;
}

.top-product-info :hover {
    cursor: pointer;
}

.product-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image-product {
    border-radius: 10px;
    width: 100%;
    max-height: 250px;
    object-fit: fill;
    align-self: center;
}

.image-product:hover {
    cursor: pointer;
}

.btn-buy {
    background-color: rgb(230, 0, 18);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    align-self: center;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}

.btn-buy:hover {
    background-color: rgb(141, 0, 12);
}

.product-name {
    color: rgb(72, 72, 72);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-price {
    color: rgb(72, 72, 72);
    font-weight: 700;
}

.products-label {
    margin: 20px;
    text-align: center;
}

.pagination-product {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.top-product-list {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.top-product-container {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
}

.top-product-container h2 {
    text-align: center;
}

.total-sold-label {
    font-size: 0.75rem;
    color: #484848;
}

.sold-out-label {
    background-color: #484848;
    width: fit-content;
    border-radius: 10px;
    padding: 2px;
    margin: 5px 0 5px 0;
    color: #f9f9f9;
    font-size: small;
    font-weight: 600;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .container-product {
        min-width: 800px;
    }
}

@media (max-width: 1024px) {
    .container-product {
        min-width: 600px;
    }

    .content-product {
        grid-template-columns: 1fr 2fr;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .aside-product {
        position: relative;
    }
}

@media (max-width: 768px) {
    .container-product {
        min-width: 100%;
    }

    .content-product {
        grid-template-columns: 1fr;
    }

    .filter-product {
        justify-content: center;
        margin: 1rem;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .aside-product {
        position: relative;
        flex-direction: row;
        gap: 1rem;
        overflow: auto;
        height: auto;
    }

    .select-category {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product-info {
        height: auto;
    }
}

@media (max-width: 480px) {
    .products-list {
        grid-template-columns: 1fr;
    }

    .filter-product {
        flex-direction: column;
    }
}