.contact-page {
   
}

.formContact {
 
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.forminput-massage {
    min-height: 150px;
}
.forminput{
   
   
}
