.container-login {
    width: 100%;
    height: 100%;
}

.form-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2rem 3rem 3rem;
    background-color: white;
    width: 450px;
}

.label-login {
    color: #484848;
    text-align: center;
}

.signin-button-container {
    display: flex;
    justify-content: center;
}

.login-text {
    text-align: center;
}