.container {
    width: 100%;
    height: 100%;
}

.backgroundImage {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.formLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2rem 3rem 3rem;
    background-color: white;
    width: 450px;
}


.forminput-login {
    color: black;
    height: 20px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;

}

label {
    color: black;
}

.btn-group-login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btnLogin {
    background-color: rgb(230, 0, 18);
    color: white;
    flex: 1;
}

.btnLogin:hover {
    background-color: rgb(172, 4, 18)
}

.btn-forgot {
    flex: 1;
}

.decs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-message {
    color: red;
}

.form-group-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-text {
    color: rgb(230, 0, 18);
}