#root {
  width: 100%;
  height: 100%;
}

.app-container {
  max-width: 1440px;
  margin: 0 auto;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.label-banner {
  position: absolute;
  max-width: 35%;
  padding: 0px;
  text-align: left;
  left: 6rem;
  top: 12rem;
  transform: translateY(-50%);
  margin-top: 0;
}

.label-banner h2 {
  color: white;
  font-size: 2.5rem;
  line-height: 3.125rem;
}

.label-banner p {
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.image-banner {
  width: 100%;
  height: auto;
  object-fit: cover;
}

p {
  color: #484848;
}

.top-selling-products-container {
  padding: 2rem;
}

.news-container {
  max-width: 1440px;
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

@media (max-width: 1400px) {
  .label-banner {
    left: 4rem;
    max-width: 35%;
  }

  .label-banner h2 {
    font-size: 2rem;
  }

  .label-banner p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .label-banner {
    left: 2rem;
    top: 10%;
    max-width: 80%;
  }

  .label-banner h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .label-banner p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .banner {
    height: auto;
  }
}

@media (max-width: 480px) {
  .label-banner {
    left: 1rem;
    top: 5%;
    max-width: 90%;
  }

  .label-banner h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .label-banner p {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .container-news {
    max-width: 400px;
  }

  .container-news h2 {
    max-width: 350px;
  }

  .container-news .description-news {
    max-width: 350px;
  }
}

.ant-result .ant-result-title {
  color: #484848;
}