* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    color: rgb(72, 72, 72);
    transition: all 200ms ease-in-out 0s;
}

.icon-header {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    transition: color 200ms ease-in-out;
}

.icon-header::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(230, 0, 18);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.icon-header.active::after {
    width: 100%;
    left: 0;
}

.icon-header.active {
    color: rgb(230, 0, 18);
}

.icon-header:hover {
    cursor: pointer;
    color: rgb(230, 0, 18);
}

header a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.brand {
    display: flex;
}

.logo-brand {
    width: 120px;
    height: 60px;
    background-color: rgb(230, 0, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.logo-brand {
    cursor: pointer;
}

.img-logo {
    height: 25px;
}

.nameBrand {
    cursor: pointer;
    padding: 10px;
}

.body {
    min-height: 100vh;
}

.contentBody {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 50px;
}

.menu-item ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.menu-item ul li {
    padding: 10px 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 3px;
    background-color: rgb(72, 72, 72);
    margin: 5px 0;
    transition: 0.4s;
}

.user-icon {
    margin-right: 1rem;
}

.countryFlag {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.countryName {
    display: flex;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-item ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-item ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle {
        position: absolute;
        display: block;
        margin-left: 35%;
        margin-top: 1rem;
    }

    .menu-item.active ul {
        display: flex;
    }

    .user-menu {
        display: none;
    }

    .user-menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .user-icon {
        position: absolute;
        margin: 1rem 1rem 0 0;
        display: block;
        align-self: flex-end;
    }
}

@media (max-width: 480px) {

    header,
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .menu-item ul {
        flex-direction: column;
        align-items: center;
    }

    .menu-item ul li {
        padding: 10px 20px;
    }

    .user-menu-mobile {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

footer {
    background-color: rgb(36, 36, 36);
    padding: 1rem 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

footer p {
    color: rgb(255, 255, 255);
}