* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow-y: scroll; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(57, 62, 70, 1) 6%, rgba(9, 70, 121, 1) 57%, rgba(2, 0, 36, 1) 99%);
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.body {
    min-height: 100vh;

}

.body.is-shown {
    display: flex;
}

.contentBody {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.contentBody.is-shown {
    margin-left: 20%;
    flex: 1;
    padding: 20px;
}

.sider {
   
    background-color: #393E46;
    height: 100%;
}

.aside {
    background-color: #393E46;
    transition: all linear 0.5s;
    width: 20%;

}

.aside .groupItem ul {
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.aside .groupItem ul .item {
    padding: 10px;
    transition: all linear 0.5s;
}

.aside a {
    color: azure;
}

.aside .groupItem ul .item:hover {
    background-color: rgb(129, 131, 131);
}

.aside.is-shown {
    position: fixed;
    top: 0;
    height: 100%;
}



.footer {
    text-align: center;
    background: linear-gradient(90deg, rgba(57, 62, 70, 1) 6%, rgba(9, 70, 121, 1) 57%, rgba(2, 0, 36, 1) 99%);
    padding: 10px;
    color: azure;
    
}
.footer p{
    color: azure;
}

@media (max-width: 768px) {
    .body {
        flex-direction: column;
    }

    .aside {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .header,
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .menu-item ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-item ul li {
        padding: 10px 20px;
    }
}

.brand {
    display: flex;
    margin-left: 3%;

    .imgLogo {
        padding: 10px;
        width: 50px;
        cursor: pointer;
    }
}

.nameBrand {
    cursor: pointer;
    padding: 10px;
    color: azure;
}

.avatar {

    .imgAvatar {
        width: 50px;
        padding: 10px;
        cursor: pointer;
    }
}
.menu-avatar{
    width: 200px;
}

.menu-item ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}


.menu-item ul li {
    padding: 10px 20px;
}

.menu-item ul li a {
    text-align: center;
    color: azure;
    cursor: pointer;
    text-decoration: none;
}

.menu-item ul li a:hover {
    text-decoration: underline;
}




.langMenu {
    padding: 20px;
    cursor: pointer;
}


.langMenuText {
    color: azure;
}

.countryFlag {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.countryName {
    display: flex;
}

.coppyright {
    color: azure;
}