/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    /* font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif; */
    background-color: #f5f5f5;
    color: #333;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow-y: scroll; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}

header a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    padding: 0px 1.25rem;
    cursor: pointer;
}

.brand {
    width: 20%;
    display: flex;
}

.logo-brand {
    width: 105px;
    height: 60px;
    background-color: rgb(230, 0, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.img-logo {
    color: white;
}

.nameBrand {
    cursor: pointer;
    padding: 10px;
}

.body {
    min-height: 100vh;

}

.body.is-shown {
    display: flex;
}

.contentBody {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex: 1;
}

.contentBody.is-shown {
    margin-left: 20%;
    flex: 1;
    padding: 20px;
}

.aside {
    background-color: #393E46;
    transition: all linear 0.5s;
    width: 20%;

}

.aside .groupItem ul {
    cursor: pointer;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.aside .groupItem ul .item {
    padding: 10px;
    transition: all linear 0.5s;
}


.aside .groupItem ul .item:hover {
    background-color: rgb(129, 131, 131);
}

.aside.is-shown {
    position: fixed;
    top: 0;
    height: 100%;
}



@media (max-width: 768px) {
    .body {
        flex-direction: column;
    }

    .aside {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .header,
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .menu-item ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-item ul li {
        padding: 10px 20px;
    }
}



.menu-item ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}


.menu-item ul li {
    padding: 10px 20px;
}

.menu-item ul li a {
    text-align: center;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.menu-item ul li a:hover {
    text-decoration: underline;
}

.countryFlag {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.countryName {
    display: flex;
}

footer {
    background-color: rgb(36, 36, 36);
    padding: 1rem 1rem;
    color: rgb(255, 255, 255);
    text-align: center;

    p {
        color: rgb(255, 255, 255);
    }
}